@import "./assets/fonts/stylesheet.css";

$primary-color: hsl(172, 67%, 45%);
$primary-color-transparent: hsla(172, 67%, 45%, .5);
$neutral-very-dark-cyan: hsl(183, 100%, 15%);
$neutral-very-dark-cyan-transparent: hsla(183, 100%, 15%, .5);
$neutral-dark-grayish-cyan-first: hsl(184, 14%, 43%);
$neutral-dark-grayish-cyan-second: hsl(184, 14%, 56%);
$neutral-light-grayish-cyan-first: hsl(189, 41%, 84%);
$neutral-light-grayish-cyan-second: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$space-monoregular: 'space_monoregular', sans-serif;

body {
  font-family: 'space_monoregular', sans-serif;
  font-weight: 400;
}

input {
  font-size: 1.5rem;
  font-family: $space-monoregular;
  position: relative;

  &.error {
    border: 2px solid hsl(0, 91%, 59%) !important;
    position: relative;
    width: 100%;
  }

  &.success {
    border: 2px solid hsl(104, 66%, 56%) !important;
  }
}

button {
  font-family: $space-monoregular;
}

.tip-calculator {
  & .container {
    min-height: 100vh;
    min-width: 100vw;
    background-color: $neutral-light-grayish-cyan-first;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .title {
      padding: 30px;
    }

    & .content {
      background-color: $white;
      border-radius: 5%;
      padding: 10px;
      min-height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & label {
        color: $neutral-dark-grayish-cyan-first;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      & input {
        color: $neutral-very-dark-cyan;
        width: 90%;
        font-weight: bold;
        text-align: right;
        border: 0;
        background-color: $neutral-light-grayish-cyan-second;
        padding: 10px 15px 10px 15px;

        &:focus {
          color: $neutral-very-dark-cyan;
        }
      }

      & label.error {
        &:after {
          content: 'Can\'t be Zero';
          position: absolute;
          color: hsl(0, 91%, 59%);
          font-family: $space-monoregular;
          font-size: .75rem;
          width: 100px;
          height: 100px;
          z-index: 3;
          top: 15px;
          right: 0;
        }
      }

      & .bill {
        display: flex;
        flex-direction: column;
        padding: 10px;

        & label.label-bill {
          position: relative;

          &:before {
            content: '';
            background: url('./assets/images/icon-dollar.svg');
            position: absolute;
            width: 10px;
            height: 18px;
            bottom: -33px;
            left: 3vw;
            z-index: 2;
          }
        }
      }

      & .tip {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: minmax(30px, auto) repeat(3, 30px);
        grid-gap: 20px;
        padding: 10px;

        & label {
          grid-column: 1 / -1;
        }

        & button.btn-tip {
          text-align: center;
          justify-content: center;
          height: 40px;
          padding-bottom: 10px;
          font-size: 1.5rem;
          color: $white;
          background-color: $neutral-very-dark-cyan;
          font-weight: bold;
          border-radius: 5%;
          cursor: pointer;
          border: none;

          &:hover, &.clicked {
            color: $neutral-very-dark-cyan;
            background-color: $primary-color;
            border: none;
          }
        }

        & input.input-tip-custom {
          min-height: 20px !important;
          width: 80%;

          &:placeholder-shown {
            text-align: center;
          }
        }
      }

      & .number-of-people {
        display: flex;
        flex-direction: column;
        padding: 10px;

        & label.label-number-of-people {
          position: relative;

          &:before {
            content: '';
            background: url('./assets/images/icon-person.svg');
            position: absolute;
            width: 14px;
            height: 17px;
            bottom: -33px;
            left: 3vw;
            z-index: 2;
          }
        }
      }

      & .results {
        background-color: $neutral-very-dark-cyan;
        border-radius: 5%;
        padding: 20px;
        margin-right: 15px;
        margin-left: 15px;

        & .results-values {
          display: flex;
          flex-direction: column;
          width: 100%;

          & .tip-per-person, & .total-per-person {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 25px;

            & .title-tip-per-person, & .title-total-per-person {
              color: $neutral-light-grayish-cyan-second;

              & h3 {
                margin: 0 0 10px 0;
                position: relative;

                &:before {
                  content: '/ person';
                  position: absolute;
                  color: $neutral-dark-grayish-cyan-second;
                  font-size: .75rem;
                  width: 100px;
                  top: 25px;
                }
              }
            }

            & .value-tip-per-person, & .value-total-per-person {
              font-size: 2rem;
              margin: 0;
              color: $primary-color;
            }
          }
        }

        & .results-reset {
          width: 100%;
          font-weight: bold;
          font-size: 1.1rem;
          padding: 10px 20px 10px 20px;
          color: $neutral-very-dark-cyan;
          background-color: $primary-color;
          border-radius: 5%;
          cursor: pointer;
          border: none;

          &.desactive {
            color: $neutral-very-dark-cyan-transparent;
            background-color: $primary-color-transparent;
            border: none;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px)  {
  .tip-calculator {
    & .container {
      justify-content: center;

      & .content {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas:
          "bill results"
          "tip results"
          "number-of-people results";
        min-height: 25vh;

        & .bill {
          grid-area: bill;

          & label.label-bill {
            position: relative;

            &:before {
              left: 1vw;
            }
          }
        }

        & .tip {
          grid-template-columns: repeat(3, 30%);
          grid-template-rows: minmax(30px, auto) repeat(2, 30px);
          grid-area: tip;
        }

        & .number-of-people {
          grid-area: number-of-people;

          & label.label-number-of-people {
            &:before {
              left: 1vw;
            }
          }
        }

        & .results {
          grid-area: results;
        }
      }
    }
  }
}